
<nav class="navbar navbar-expand-lg navbar-light pr-5">
  <div class="logo">Penny Pincher</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto menu-area">
      <li class="nav-item active">
        <a class="menu-area" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="menu-area" href="Budget">Budget</a>
      </li>
      <li class="nav-item">
        <a class="menu-area" href="Expenses">Expenses</a>
      </li>
      <li class="nav-item">
        <a class="menu-area" href="chart">Chart</a>
      </li>
      <li class="nav-item">
        <a class="menu-area" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  
    <h1 class="text-center tagline">Create Your Budget</h1>
  
    <br>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card" style="border: 1px solid tomato">
        <div class="card-header" style="background-color: tomato">
          <h5 style="text-align: center">ADD BUDGET</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <section class="Budget">
                <form id="budget-form">

                  <label for="mortgage"><strong>MORTGAGE</strong></label>
                  <input type="text" id="mortgage" name="mortgage" placeholder="$ amount" required="required"><br>

                  <label for="food"><strong>FOOD</strong></label>
                  <input type="text" id="food" name="food" placeholder="$ amount" required="required"><br>

                  <label for="utilities"><strong>UTILITIES</strong></label>
                  <input type="text" id="utilities" name="utilities" placeholder="$ amount" required="required"><br>

                  <label for="insurance"><strong>INSURANCE</strong></label>
                  <input type="text" id="insurance" name="insurance" placeholder="$ amount" required="required"><br>

                  <label for="transportation"><strong>TRANSPORTATION</strong></label>
                  <input type="text" id="transportation" name="transportation" placeholder="$ amount"
                    required="required"><br>
                </form>
              </section>
            </div>
            <div class="col-lg-6">
              <section class="Budget">
                <form id="budget-form">

                  <label for="fun"><strong>FUN</strong></label>
                  <input type="text" id="fun" name="fun" placeholder="$ amount" required="required"><br>

                  <label for="savings"><strong>SAVINGS</strong></label>
                  <input type="text" id="savings" name="savings" placeholder="$ amount" required="required"><br>

                  <label for="misc"><strong>MISC</strong></label>
                  <input type="text" id="misc" name="misc" placeholder="$ amount" required="required"><br>

                  <label for="debt"><strong>DEBT</strong></label>
                  <input type="text" id="debt" name="debt" placeholder="$ amount" required="required"><br>


                  {{!-- <label for="month">Month:</label>
                  <input type="text" id="month" name="month" placeholder="month" required="required"><br> --}}

                  <select data-placeholder="" id="month" name="month" class="budget-select">
                    <option value=""><strong>MONTH</strong></option>
                    <option id="January" value="January">January</option>
                    <option id="February" value="February">February</option>
                    <option id="March" value="March">March</option>
                    <option id="April" value="April">April</option>
                    <option id="May" value="May">May</option>
                    <option id="June" value="June">June</option>
                    <option id="July" value="July">July</option>
                    <option id="August" value="August">August</option>
                    <option id="September" value="September">September</option>
                    <option id="October" value="October">October</option>
                    <option id="November" value="November">November</option>
                    <option id="December" value="December">December</option>
                  </select>

                  <select data-placeholder="" id="year" name="year" class="budget-select">
                    <option value=""><strong>YEAR</strong></option>
                    <option id="2019" value="2019">2019</option>
                    <option id="2020" value="2020">2020</option>
                    <option id="2021" value="2021">2021</option>
                    <option id="2022" value="2022">2022</option>
                    <option id="2023" value="2023">2023</option>
                    <option id="2024" value="2024">2024</option>

                  </select>
                  <br><br>
                  {{!-- <label for="year">Year:</label>
          <input type="text" id="year" name="year" placeholder="year" required="required"><br> --}}


          <button type="button" id="budget-btn" class="btn btn-info">Submit</button>

        </form>

      </section>
    </div>
  </div><br>

  {{!-- <footer class="footer">
    <div class="container">

      <p><a href="/">Back to Home</a> | <a


                </form>

              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer> --}}


</div>