<div class="container">

  <div class="jumbotron">

    <h1 class="text-center"><span class="fa fa-dollar"></span> Penny Pincher</h1>
    <hr>
    <h2 class="text-center">Budget Management!</h2>
    <h3 class="text-center">Where you set an amount budget for a month</h3>
    <br>

  </div>

  <div class="row">
    <div class="col">
      <section class="Budget">
        <form id="budget-form">

          <label for="mortgage">Mortgage:</label>
          <input type="text" id="mortgage" name="mortgage" placeholder="$ amount" required="required"><br>

          <label for="food">Food:</label>
          <input type="text" id="food" name="food" placeholder="$ amount" required="required"><br>

          <label for="utilities">Utilities:</label>
          <input type="text" id="utilities" name="utilities" placeholder="$ amount" required="required"><br>

          <label for="insurance">Insurance:</label>
          <input type="text" id="insurance" name="insurance" placeholder="$ amount" required="required"><br>

          <label for="transportation">Transportation:</label>
          <input type="text" id="transportation" name="transportation" placeholder="$ amount" required="required"><br>

          <label for="fun">Fun:</label>
          <input type="text" id="fun" name="fun" placeholder="$ amount" required="required"><br>

          <label for="savings">Savings:</label>
          <input type="text" id="savings" name="savings" placeholder="$ amount" required="required"><br>

          <label for="misc">Misc:</label>
          <input type="text" id="misc" name="misc" placeholder="$ amount" required="required"><br>

          <label for="debt">Debt:</label>
          <input type="text" id="debt" name="debt" placeholder="$ amount" required="required"><br>

          {{!-- <label for="month">Month:</label>
                  <input type="text" id="month" name="month" placeholder="month" required="required"><br> --}}

          <select data-placeholder="" id="month" name="month">
            <option value="">Month</option>
            <option id="January" value="January">January</option>
            <option id="February" value="February">February</option>
            <option id="March" value="March">March</option>
            <option id="April" value="April">April</option>
            <option id="May" value="May">May</option>
            <option id="June" value="June">June</option>
            <option id="July" value="July">July</option>
            <option id="August" value="August">August</option>
            <option id="September" value="September">September</option>
            <option id="October" value="October">October</option>
            <option id="November" value="November">November</option>
            <option id="December" value="December">December</option>
          </select>

          <select data-placeholder="" id="year" name="year">
            <option value="">Year</option>
            <option id="2019" value="2019">2019</option>
            <option id="2020" value="2020">2020</option>
            <option id="2021" value="2021">2021</option>
            <option id="2022" value="2022">2022</option>
            <option id="2023" value="2023">2023</option>
            <option id="2024" value="2024">2024</option>

          </select>

          {{!-- <label for="year">Year:</label>
          <input type="text" id="year" name="year" placeholder="year" required="required"><br> --}}

          <button type="button" id="budget-btn" class="btn btn-info">Submit</button>
        </form>

      </section>
    </div>
  </div><br>

  <footer class="footer">
    <div class="container">
      <p><a href="/api/budget">API Budget Link</a> | <a href="/api/expenses">API Expenses List</a> | <a
          href="/logout">Log out</a>

    </div>
  </footer>

</div>