<div class="container">

  <div class="jumbotron" style="background-image: url(/images/jumbotron.jpg); background-size: 100% 100%;">

    <h1 class="text-center"><span class="fa fa-dollar"></span> Penny Pincher</h1>
    <hr>
    <h2 class="text-center">Set Your Budget Amount</h2>
    <br>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <section class="Budget">
        <form id="budget-form">

          <label for="mortgage">Mortgage:</label>
          <input type="text" id="mortgage" name="mortgage" placeholder="$ amount" required="required"><br>

          <label for="food">Food:</label>
          <input type="text" id="food" name="food" placeholder="$ amount" required="required"><br>

          <label for="utilities">Utilities:</label>
          <input type="text" id="utilities" name="utilities" placeholder="$ amount" required="required"><br>

          <label for="insurance">Insurance:</label>
          <input type="text" id="insurance" name="insurance" placeholder="$ amount" required="required"><br>

          <label for="transportation">Transportation:</label>
          <input type="text" id="transportation" name="transportation" placeholder="$ amount" required="required"><br>

        </form>
      </section>
    </div>
    <div class="col-lg-6">
      <section class="Budget">
        <form id="budget-form">

          <label for="fun">Fun:</label>
          <input type="text" id="fun" name="fun" placeholder="$ amount" required="required"><br>

          <label for="savings">Savings:</label>
          <input type="text" id="savings" name="savings" placeholder="$ amount" required="required"><br>

          <label for="misc">Misc:</label>
          <input type="text" id="misc" name="misc" placeholder="$ amount" required="required"><br>

          <label for="debt">Debt:</label>
          <input type="text" id="debt" name="debt" placeholder="$ amount" required="required"><br>

          <input type="submit">
        </form>

      </section>
    </div>
  </div><br>

  <footer class="footer">
    <div class="container">
      <p><a href="/">Back to Home</a> | <a
          href="/logout">Log out</a>

    </div>
  </footer>

</div>