   <div class="container">
        <div class="jumbotron">
            <h1>Input Your Expenses</h1>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <section class="expenses">
                    <form id="expenses-form">

                        <label for="item">Item:</label>
                        <input type="text" id="item" name="item" placeholder="" required="required"><br>

                        <label for="price">Price:</label>
                        <input type="text" id="price" name="price" placeholder="$ amount" required="required"><br>

                       <select data-placeholder="" class="expenses-select" id="expenses">
                            <option value="">Categories</option>
                            <option id="mortgage" value="mortgage">Mortgage</option>
                            <option id ="food" value="food">Food</option>
                            <option id="utilities" value="utilities">Utilities</option>
                            <option id="insurance" value="insurance">Insurance</option>
                            <option id="transpo" value="transpo">Transportation</option>
                            <option id="fun" value="fun">Fun</option>
                            <option id="savings" value="savings">Savings</option>
                            <option id="misc" value="misc">Misc</option>
                            <option id="debt" value="debt">Debt</option>
                        </select>
                        <br>
                        <input type="submit">
                    </form>
                </section>
            </div>
        </div>
    </div>
    </div>
 
 
 
