<div class="container">
    <div class="jumbotron" style="background-image: url(/images/background.jpg); background-size: 100% 100%;">
    <h1 style="text-align: center">ADD EXPENSES</h1>
   </div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header" style="background-color: #B9808C">
                Expenses
            </div>
            <div class="card-body">
                <section class="expenses">
                    <form id="expenses-form">

                        <label for="item">Item:</label>
                        <input type="text" id="item" name="item" placeholder="" required="required"><br>

                        <label for="price">Price:</label>
                        <input type="text" id="price" name="price" placeholder="$ amount" required="required"><br>

                        <select data-placeholder="" class="expenses-select" id="expenses">
                            <option value="">Categories</option>
                            <option id="mortgage" value="mortgage">Mortgage</option>
                            <option id="food" value="food">Food</option>
                            <option id="utilities" value="utilities">Utilities</option>
                            <option id="insurance" value="insurance">Insurance</option>
                            <option id="transpo" value="transportation">Transportation</option>
                            <option id="fun" value="fun">Fun</option>
                            <option id="savings" value="savings">Savings</option>
                            <option id="misc" value="misc">Misc</option>
                            <option id="debt" value="debt">Debt</option>
                        </select>
                        <br>
                        <input id="expense" type="submit">
                    </form>
                </section>
            </div>
        </div>
    </div>
</div><br><br>
<footer class="footer">
    <div class="container">
      <p><a href="/">Back to Home</a> | <a
          href="/logout">Log out</a>

    </div>
  </footer>

</div>