  <div class="container">
        <div class="jumbotron">
            <h1>Input Your Expenses</h1>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
             <section class="expenses">
                <form id="expenses-form">
                
                <label for="item">Item:</label>
                <input type="text" id="item" name="item" placeholder="" required="required"><br>
                
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" placeholder="$ amount" required="required"><br>
                
                <div class="dropdown">
               <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
               </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="mortgage">Mortgage</a>
              <a class="dropdown-item" href="food">Food</a>
              <a class="dropdown-item" href="utilities">Utilities</a>
              <a class="dropdown-item" href="insurance">Insurance</a>
              <a class="dropdown-item" href="transpo">Transportation</a>
              <a class="dropdown-item" href="fun">Funs</a>
              <a class="dropdown-item" href="savings">Savings</a>
              <a class="dropdown-item" href="misc">Misc</a>
              <a class="dropdown-item" href="debt">Debt</a>
             </div>
            </div>
            <input type="submit">
           </form>       
           </section>
          </div>
          </div>
      </div>
  </div>
 
 
 
 