<header>



    <div class="logo">Penny Pincher</div>


    <ul class="menu-area">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="Budget">Budget</a></li>
        <li><a href="Expenses">Expenses</a></li>
        <li><a href="chart">Chart</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="signup">Sign up</a></li>
    </ul>


</header>
{{!-- the above code was Maria. Below is Michael --}}

<div class="container">
    <div>
        <h2 class="text-center" style="text-align:center">
            {{month}} {{year}} Budget
        </h2>
    </div>
</div>

<div class="chartsize">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
{{item}}
    {{#each purchases}}
<p>
    table goes here:
        {{this.category}}
</p>
    {{/each}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="/js/chart.js"></script>