 <header class="fix">
    <video id="videoBG" src="/images/1032633632-preview.mp4" class="chart" autoplay="autoplay" 
    loop="loop" muted="muted"></video>

    <div class="logo">Penny Pincher</div>

    <ul class="menu-area">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="Budget">Budget</a></li>
      <li><a href="Expenses">Expenses</a></li>
      <li><a href="chart">Chart</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="signup">Sign up</a></li>
    </ul>

      <div class="welcome-text">
          <h2>Welcome to our Website</h2><br>
          <p>Know where your money goes</p>
          <button class="btn btn-1">Learn more</button>
        </div>
      </div>
   
    </header>