<nav class="navbar navbar-expand-lg navbar-light pr-5">
  <div class="logo">Penny Pincher</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto menu-area">
   
      <li class="nav-item active">
        <a class="menu-area" href="login">Log-In</a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center welcome">WELCOME</h1>
<h5 class="text-center prompt">Sign in to continue tracking your expenses or sign up to start managing your money. </h5>

<br><br>

<div class="row">
    <aside class="col-sm-4"></aside>
    <aside class="col-sm-4">
        <div class="card mr-4 ml-4">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">Sign Up</h4>
                <hr>
                <p class="text-center login">Sign Up For Penny Pincher</p>
                {{#if message}}
                <div class="alert alert-danger">{{message}}</div>
                {{/if}}
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="email" class="form-control" placeholder="Email or login" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input name="password" class="form-control" placeholder="******" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Sign Up </button>
                    </div>
                    <p class="text-center">Already have an account? <a class="sign" href="/login">Login</a></p>
                </form>
            </article>
        </div>
    </aside>
    <aside class="col-sm-4"></aside>
</div>

<div class='ripple-background'>
    <div class='circle xxlarge shade1'></div>
    <div class='circle xlarge shade2'></div>
    <div class='circle large shade3'></div>
    <div class='circle mediun shade4'></div>
    <div class='circle small shade5'></div>
</div>